@import url("https://fonts.googleapis.com/css2?family=Baloo+2");

#signature {
  font-family: "Baloo 2", cursive;
  font-size: 15px;
  text-align: center;
  margin: 20px auto 0px;
  color: #004288;
}

.heart {
  color: #004288;
}
