@import url("https://fonts.googleapis.com/css2?family=Baloo+2");

.card {
  border: none;
  font-family: "Baloo 2", cursive;
  display: inline-block;
}

.rightcard {
  font-size: 20px;
}

#display-temperature {
  font-family: "Baloo 2", cursive;
  font-size: 100px;
  color: #004288;
}

#temperature-card {
  max-width: fit-content;
}

.celsius,
.fahrenheit {
  font-size: 30px;
}

.stick {
  font-size: 25px;
  color: #6d757d;
}

.card-body,
.text-left {
  font-size: 20px;
}

#location {
  font-family: "Baloo 2", cursive;
  color: #e7305b;
}

#icon-main {
  width: 90px;
}

#description {
  font-family: "Baloo 2", cursive;
  font-size: 25px;
}
